/* profile page */
div.CoverImage {
  width: 100;
}
main.ProfileBody {
  margin-top: -140px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
img.ProfileCoverImage {
  background: url(../../assets/space.jpeg) no-repeat;
  background-size: contain;
  border: 1px solid black;
  width: 100%;
}
img.ProfileImage {
  max-width: 150px;
  max-height: 150px;
  border-radius: 50%;
  border: 1px solid black;
  box-shadow: 0 0 4px white;
}
img.ProfileImage:hover {
  box-shadow: 0 0 5px #349af0;
  cursor: pointer;
}
div.profileAttributesBar {
  display: flex;
  justify-content: space-around;
}
h6.profileAttributes {
  box-shadow: 0 0 5px black;
  border-radius: 50%;
  padding: 10px;
  margin: 2px;
}
h6.profileAttributes:hover {
  box-shadow: 0 0 5px #349af0;
  cursor: pointer;
}

div.profileBio {
  margin: 5px;
  width: 310px;
  box-shadow: 0 0 5px black;
}
div.profileMyCommunityParent {
  width: 310px;
  box-shadow: 0 0 5px black;
  margin-bottom: 5px;
}
div.profileMyCommunity {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 300px;
  padding: 5px;
}
img.ProfileCommunityProfileImage {
  max-width: 40px;
  max-height: 40px;
  border-radius: 50%;
  border: 1px solid black;
  box-shadow: 0 0 4px white;
  margin: 5px;
}

img.ProfileRequestBoxImage {
  max-width: 60px;
  max-height: 40px;
  box-shadow: 0 0 5px black;
}
div.ProfilePostsBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 310px;
  box-shadow: 0 0 5px black;
  margin: 0 5px 5px 5px;
}
div.ProfileRecommendedPost {
  display: flex;
  align-items: center;
  box-shadow: 0 0 1px black;
  width: 300px;
  margin: 1px;
}
img.ProfileRequestBoxImage {
  margin: 5px;
}
